header{
    height: 80px;
}
main{
    height: calc(100vh - 80px);
}
.my_bg-darkblue{
    background-color: #051e34;
}
.my_bg-lightblue{
    background-color: #1b72e8;
}
header div.container-fluid div.row div.col-1 i{
    margin-right: 8px;
    font-size: 20px;
}
.my_sidebar{
    width: 180px;
    height: 100vh;
    background: url(img/sidebar-bg.png);
    background-color: #051e34;
}
.my_upper-nav{
    margin-left: 1rem;
    margin-top: 1rem;
}
.my_bottom-nav{
    margin-bottom: 2rem;
}
nav ul{
    margin: 0;
    padding: 0rem;
}
nav li{
    list-style-type: none;
    margin-bottom: 0.5rem;
}
nav a{
    text-decoration: none;
    color: white;
}
.my_upper-main{
   height: 180px;
   width: calc(100% - 180px);
   background-color: #1b72e8;
   color: white;
   padding: 1rem;
   display: flex;
   justify-content: space-between;
   align-items: baseline;
}
.my_main{
    height: calc(100% - 180px);
    width: calc(100% - 180px);
    background-color: magenta;
}
